body {
  margin: 30px;
}


.my-container {
    border: 1px solid green;
}


.my-row {
    border: 3px solid red;
}

.my-col {
    border: 3px dotted blue;
}







/* usado para VISUALIZAR O 'VERTICAL ALIGNMENT' de nossa página */
.my-row-2  {
    height: 300px;
}