.main-form {
  width: 450px;
  margin: auto;
}








/* PortFólio */



.project-box {
  margin-bottom: 30px;
}


#filter-btn-box {
  margin-bottom: 50px;
  text-align: center;
}




#portfolio-area .filter-btn {
  color: #444;
  border: 1px solid #444;
  background-color: transparent;
  text-transform: none;
  margin: 0 15px;

  /* min-width para que botões n fiquem mt pequenos */
  min-width: 100px;   
  width: auto;
  /* alinha o texto no centro do botão */
  line-height: 40px; 
}



#portfolio-area .filter-btn.active, #portfolio-area .filter-btn:hover {
  color: #fff;
  background-color: #65DAF9;
  border-color: #65DAF9;
}










/* OS FILTROS AINDA NÃO ESTÃO FUNCIONANDO... -- devemos usar  o JQUERY, JAVASCRIPT... */